// task-detail.component.scss

.task-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .task-detail-item {
    margin-bottom: 10px;
  }
  
  .task-detail-label {
    font-weight: bold;
  }
  
  .task-detail-input {
    width: 100%;
  }
  